.one {
    margin-bottom: 50px;
    height: 120px;
    width: 320px;
    border: groove black 2px;
    position: relative;
}
.one:before {
    content: '';
    height: 40%;
    width: 20px;
    position: absolute;
    right: 0;
    background-color: black;
    top: 50%;
    transform: translate(100%,-50%);
}
.one:after {
    content: '';
    position: absolute;
    background-color: red;
    width: 30%;
    height: 100%;
    animation: one 5s linear alternate infinite;
}
@keyframes one {
    0% {
        width:0;
        background-color: red;
    }
    20% {
        width:20%;
        background-color: red;
    }
    75% {
        width:75%;
        background-color: yellow;

    }
    100% {
        width:100%;
        background-color: green;

    }
}
.one:hover:after {
    background-color: white;
    animation: none;
}